{% extends 'base.html' %}

{% block content %}
<div class="booking-container">

        {% for filtered_booking in filtered_bookings %}
        <div class="booking">
            <ul class="booking-listing">
                <li>Name: {{filtered_booking.user_id.name}}</li>
                <li>Date: {{filtered_booking.date.strftime("%d %B %Y")}}</li>
                <li>Time: {{filtered_booking.time}}</li>
                <li>Attendees: {{filtered_booking.attendees}}</li>
            </ul>
        </div>    
        {% endfor %}
    
</div>
{% endblock %}

{% block footer %}
<div id="buttons">
    <form action="/bookings_by_studio">
        <button type="submit">Back to Studios</button>
    </form>
</div>
{% endblock %}