<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/fd4e788e75.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <title>THE JOINT</title>
</head>
<body>
    <header>
        <h1 style="font-size:60px;"><i class="fa-solid fa-music"></i>WELCOME TO THE JOINT!<i class="fa-solid fa-music"></i></h1>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/view_all">My Bookings</a></li>
                <li><a href="/create_booking">Book Now!</a></li>
                <li><a href="/bookings_by_studio">Our Studios</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <div class="other-container">
        {% block footer %}
        {% endblock %}
    </div>
</body>


</html>