{% extends 'base.html' %}

{% block content %}
    
<form action="/{{ booking.id }}/update" method="post">
    
        
        <input type="hidden" value="{{booking.user_id.id}}" name="user_id" id="user_id">
    
        <label for="studio">
            Studio:
        </label>
        <select id="studio" name="studio">
            {% for studio in studios %}
                <option value="{{ studio.id }}" {% if booking.studio_id == studio.id %} selected="selected"{%endif%}>
                    {{ studio.studio_number }}</option>
            {% endfor %}

    <div>
        <label for="date">
            Date:
        </label>
        <input type="date" value="{{ booking.date }}" name="date" id="date">
    </div>

    <div>
        <label for="time">
            Time: 
        </label>
        <select name="time" id="time" value="{{ booking.time }}">
            <option value="10:00">10:00</option>
            <option value="11:00">11:00</option>
            <option value="12:00">12:00</option>
            <option value="13:00">13:00</option>
            <option value="14:00">14:00</option>
        </select>
    </div>



    <div>
        <label for="attendees">
            Attendees: 
        </label>
        <input type="text" value="{{ booking.attendees }}" name="attendees" id="attendees">

    </div>
    <button type="submit">Submit Edit</button>
</div>

</form>


{% endblock %}